{% load staticfiles %}

<html>
  <head>
    <!--<link rel="stylesheet" href="{% static 'css/blog.css' %}"/>-->
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Athiti" rel="stylesheet">
    <!--<link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/products.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/about.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}"/>-->
    <title>Eddie Mors Tours and Safaris</title>
  </head>

  <body>
    <div class="top-container">
      <div class="top-display">
        <a href=""><img src=""/></a>
        <h1>Eddie Mors Tours and Safaris.</h1>

        <nav class="navbar">
          <ul>
            <li><a href="{% url "home" %}">Home</a></li>
            <li><a href="{% url "products" %}">Products</a></li>
            <li><a href="{% url "about" %}">About</a></li>
            <li><a href="{% url "contacts" %}">Contact us</a></li>
          </ul>
        </nav>
      </div>
    </div>

    {% block content %}

    {% endblock %}

    <footer class="foot">
      <div class="biz-footer">
        <a href=""><img src=""/></a>
        <p>Eddie Mors Tours and Safaris.</p>
      </div>
    </footer>

  </body>
</html>
