{% load staticfiles %}

<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Abel|Arima+Madurai:400,800|Katibeh|Ubuntu" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
    <script src="{% static 'script/base.js'%}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css"/>

    <title>EMATS</title>
  </head>

  <body>
    <header>
      <div id="nav-container" class="navbar-fixed">
        <nav class="nav-wrapper orange">
          <a href="#!" class="brand-logo"><img src="{% static 'images/emats_logo' %}"/></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="{% url "home" %}">Home</a></li>
            <li><a href="{% url "about" %}">About</a></li>
            <li><a href="{% url "products" %}">Products</a></li>
            <li><a href="{% url "info" %}">Kenya</a></li>
            <li><a href="{% url "photos" %}">Gallery</a></li>
            <li><a href="{% url "contacts" %}">Contact us</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      {% block content %}

      {% endblock %}
    </main>

    <footer class="page-footer green">
      <div class="container">
        <div class="row">
          <a href="home"><img src="{%static 'images/emats_logo'%}"/></a>
          <p>Eddie Mors Tours and Safaris.</p>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="container">
          2016 Njau Kariuki
        </div>
      </div>
    </footer>

  </body>
</html>
