{% extends 'pages/base.html' %}

{% block content %}

  <div class="photos" class="w3-content w3-section" style="max-width:500px">

      <div class="images">
        <img class="mySlides" style="width:100%" src="{{ photos1.picture.url }}"/>
      </div>

      <div class="images">
        <img class="mySlides" style="width:100%" src="{{ photos2.picture.url }}"/>
      </div>

      <div class="images">
        <img class="mySlides" style="width:100%" src="{{ photos3.picture.url }}"/>
      </div>

      <script>
var myIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
       x[i].style.display = "none";
    }
    myIndex++;
    if (myIndex > x.length) {myIndex = 1}
    x[myIndex-1].style.display = "block";
    setTimeout(carousel, 3000); // Change image every 3 seconds
}
</script>


  </div>

  <div class="methali">
    {% for methali in misemo %}
      <div id="methali" class="theSlides w3-container w3-red">
        <p>{{methali.Proverb}}</p>
        <p>{{methali.Proverb_translation}}</p>
        <p>{{methali.Proverb_meaning}}</p>
      </div>

      <script>
var slideIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("theSlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    slideIndex++;
    if (slideIndex > x.length) {slideIndex = 1}
    x[slideIndex-1].style.display = "block";
    setTimeout(carousel, 2000);
}
</script>

    {% endfor %}
  </div>

  <div class="reviews">
    {% for rev in custReview %}
      <div class="rev">
        <h3>{{rev.Review_title}}</h3>
        <h6>{{rev.Review_customer_name}}</h6>
        <img src=""/>
        <p>{{rev.Review_narration}}</p>
      <div>
    {% endfor %}
  </div>

{% endblock %}
