{% extends 'pages/base.html' %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/home.css' %}"/>

<div class="heading card-panel green">
  <div class="text">
    <h1>Eddie Mors African Tours and Safaris.</h1>
    <p>Taking you where the fun is</p>
  </div>

  <ul id="social-media">
    <li><a href="https://www.facebook.com/EddieMorsTours/"><img src="{% static 'images/FB-FindUsonFacebook-online-114.png' %}"/></a></li>
    <li>
      {% for y in card %}
        <p>{{y.cont_number|linebreaksbr}}</p>
      {% endfor %}
    </li>
  </ul>
</div>


  <div class="photos" class="w3-content w3-section" style="max-width:1500px">
    {% for p in photos %}
      <div class="mySlides" style="width:100%">
        <img src="{{p.picture.url}}"/>
      </div>
    {% endfor %}

      <script>
        var myIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("mySlides");
            for (i = 0; i < x.length; i++) {
               x[i].style.display = "none";
            }
            myIndex++;
            if (myIndex > x.length) {myIndex = 1}
            x[myIndex-1].style.display = "block";
            setTimeout(carousel, 3000); // Change image every 3 seconds
        }
        </script>
  </div>

  <div class="methali">
    {% for methali in misemo %}
      <div id="methali" class="theSlides w3-container w3-teal row">
        <p class="col s4">{{methali.Proverb}}</p>
        <p class="col s4">{{methali.Proverb_translation}}</p>
        <p class="col s4">{{methali.Proverb_meaning}}</p>
      </div>

      <script>
        var slideIndex = 0;
        carousel();

        function carousel() {
            var i;
            var x = document.getElementsByClassName("theSlides");
            for (i = 0; i < x.length; i++) {
              x[i].style.display = "none";
            }
            slideIndex++;
            if (slideIndex > x.length) {slideIndex = 1}
            x[slideIndex-1].style.display = "block";
            setTimeout(carousel, 5000);
        }
      </script>

    {% endfor %}
  </div>

<div class="rev">
  <h3>Reviews</h3>
  <div class="col s12 m6 l8 pull-s5">
    {% for rev in custReview %}
      <div class="reviews row">
          <div class="card grey lighten-3">
            <div class="card-content black-text">
              <div class="rev">
                <span class="card-title"><h2>{{rev.Review_title}}</h2></span>
                <h6>{{rev.Review_customer_name}}</h6>
                <div class="col s2">
                  <img class="circle responsive-img" src="{{rev.Review_image.url}}"/>
                </div>
                <p>{{rev.Review_narration}}</p>
              </div>
            </div>
          </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
