p{
  font-family: 'Ubuntu', sans-serif;
  font-size: 15pt;
}

.photo{
  max-height: 500px;
  max-width: 500px;
}

.row{
  max-width: 500px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
