h1{
  font-family: 'Katibeh', cursive;
  font-size: 4em;
}

p{
  font-family: 'Ubuntu', sans-serif;
  font-size: 15pt;
}

.photo{
  max-height: 500px;
  max-width: 500px;
}

.row{
  max-width: 500px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}
