{% extends 'pages/base.html'%}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/contacts.css' %}"/>

  <h3>Reach us on social media</h3>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div class="fb-page" data-href="https://www.facebook.com/EddieMorsTours" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/EddieMorsTours" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/EddieMorsTours">Eddie Mors African Tours and Safaris</a></blockquote></div>

    {% for cards in card %}
      <div class="cont-blocks">
        <h5>{{cards.Contact_name|linebreaksbr}}</h5>
        <p>{{cards.Contact_number|linebreaksbr}}</p>
        <p>{{cards.Contact_address|linebreaksbr}}</p>
        <p>{{cards.Contact_email_address|linebreaksbr}}</p>
        <p>{{cards.Contact_location|linebreaksbr}}</p>
      </div>
    {% endfor %}

    <h3>Subscribe to our newsletter</h3>
    <form role="form" action="" method="POST" class="newsletter">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn waves-effect waves-light" type="submit" name="action">
        <i class="material-icons right">Submit</i>
      </button>
    </form>

{% endblock %}
