body{
  margin: 5px;
  background-color: #f2f2f2;
  font-family: 'Athiti', sans-serif;
  background-image: url("/static/images/animal-africa-giraffe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.top-container{
  max-height: 500px;
  background-color: #00cc00;
}

.top-container img{
  float: left;
}

.top-container h1{
  float: right;
  font-family: 'Arima Madurai', cursive;
  color: #ffffff;
}

.top-display h1{
  text-align: left;
}

/*.nav-container{
  background-color: white;
}*/

nav{
  clear: both;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li{
  display: inline;
}

nav ul a{
  font-family: 'Katibeh', cursive;
  font-size: 20pt;
  display: inline-block;
  padding: 10px;
  background-color: #ffa600;
  text-decoration: none;
  color: black;
}

h1, h3, h5{
  font-family: 'Abel', sans-serif;
}

h1{
  color: rgba(255, 165, 0, 1);
}

.foot{
  height: 100px;
  background-color: #00cc00;
}

.biz-footer{
  width:50%;
}

.biz-footer img{
  float: left;
}

.biz-footer p{
  font-family: 'Arima Madurai', cursive;
  float: right;
  font-size: 15pt;
}
