body{
  width: 100%;
  height: 100%;
  background-color: rgba(77, 77, 77, 0.1);
}

.top-container{
  width: 100%;
  /*background-color: rgba(255, 175, 26, 0.8);*/
  background-color: #ffaf1a;
}

.top-container img{
  float: left;
  max-width: 150px;
  max-height: 75px;
}

.top-container h1{
  font-family: 'Arima Madurai', cursive;
  color: #ffffff;
  opacity: 1;
}

.top-container #social-media{
  list-style: none;
  float: right;
}

#navbar{
  clear: both;
  font-family: 'Katibeh', cursive;
  font-size: 20pt;
}

footer{
  clear: both;
  width: 100%;
  background-color: #4caf50;
}

.biz-footer img{
  max-height: 150px;
  max-width: 75px;
  float: left;
}

.biz-footer p{
  font-family: 'Arima Madurai', cursive;
  color: #ffffff;
  opacity: 1;
}
