.cont-blocks{
  width: 250px;
  float: left;
  min-height: 250px;
  border-bottom: 5px solid #4caf50;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  background-color: rgba(191, 191, 191, 0.5);
}

#like, .cont-blocks h5{
  font-family: 'Katibeh', cursive;
  font-size: 30px;
}

.fb-page{
  width: auto;
}

.foot{
  clear: both;
}
