.heading{
  width: 100%;
  height: 150px;
  background-color: #ccff99;
}

.heading h1{
  font-size: 2em;
  font-family: 'Arima Madurai', cursive;
}

.heading p{
  font-size: 15pt;
  font-family: 'katibeh', cursive;
}

.heading img{
  max-width: 814px;
  max-height: 150px;
}

.text{
  float: left;
}

#social-media{
  float: right;
}

.photos{
  clear: both;
  /*margin-left: 15%;*/
  margin-top: 10px;
  margin-bottom: 10px;
}

.methali{
  clear: both;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 25%;
  margin-right: 25%;
}

.reviews{
  max-width: 450px;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-right: 10px;
}

.rev{
  margin-top: 20px;
}

.rev h3{
  font-family: 'Katibeh', cursive;
  font-size: 4em;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  border-top: 2px dashed #4caf50;
}

p{
  font-family: 'Ubuntu', sans-serif;
}

rev p{
  font-size: 10pt;
}

.the-card{
  background-color: rgba(204, 255, 153, 0.5);
}
